<section class="hero is-info is-small is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Featured Posts</h1>
        </div>
    </div>
</section>

<div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            {{#each posts}}
            <div class="card article">
                <div class="card-content">
                    <div>
                        <h3><a href="./post/{{id}}">{{title}}</a></h3>
                        <div class="has-text-right">
                            <h4 class="has-text-weight-semibold">Posted by {{user.lname}}, {{user.fname}} on
                                {{createdAt}}</h4>
                        </div>
                    </div>
                    <div>
                        <p>{{body}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            <!-- END ARTICLE -->
        </div>
    </section>
    <!-- END ARTICLE FEED -->

    <footer class="footer flex-row justify-center">
        <a href="/dashboard/new">➕ New Post</a>
        <!-- END ARTICLE FEED -->
    </footer>
</div>