{{#if loggedIn}}
    {{> header}}
{{else}}
    {{> headerLoggedOut}}
{{/if}}

{{#each posts}}
    {{#ifCond @index '==' 0}}
        <div class="card">
            <div class="class-header flex-row justify-space-between">
                <h2>
                    <a href="/post/{{post.id}}">
                        <div class="col-8">{{post.post-title}}</div>
                    </a>
                </h2>
            </div>
            <h2>
                <div class="col-8">Posted by {{post.user.username}} on {{post.dateCreated}}</div>
            </h2>
        </div>
    {{/ifCond}}
{{/each}}

<script src="/public/js/comment.js"></script>