<section class="hero is-info is-small is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{selectedPost.title}}</h1>
            <h2 class="subtitle">Posted by {{selectedPost.user.username}} on {{selectedPost.createdAt}}</h2>
        </div>
    </div>
</section>

<div class="container">
    <section class="article">
        <div class="column is-8 is-offset-2">
            <div class="card">
                <div class="card-content">
                    <div>
                        <p>{{selectedPost.body}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container">
    <section class="comments">
        <div class="column is-8 is-offset-2">
            <div class="card">
                <div class="card-content">
                    <div>
                        <h3>Comments</h3>

                        {{#if comments.length}}
                            {{#each comments}}
                                <div class="has-text-right">
                                    <h4 class="has-text-weight-semibold">Posted by {{user.username}} on {{createdAt}}</h4>
                                </div>
                            {{/each}}
                        {{else}}
                            <p>No comments yet.</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/public/js/new"></script>
